<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ayte! - We mess with tech so we don't have time for our own website</title>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="style.css" rel="stylesheet"/>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    </head>
    <body>
    <main>
        <div class="contacts">
            <div class="line-wrapper">
                <div class="line-container opening">
                    <div class="line orange bright"></div>
                    <div class="line yellow light wide"></div>
                    <div class="line orange thin"></div>
                </div>
                <div class="line-container closing">
                    <div class="line blue bright thin"></div>
                    <div class="line blue light wide"></div>
                    <div class="line blue"></div>
                </div>
            </div>
            <div class="cell">
                <h1>Ayte!</h1>
            <p>
                Hey there! We're too busy doing other things to build our own website
                (ha-ha, classic).
            </p>
            <p>
                That shouldn't stop you from dropping us a letter, though:
            </p>
            <a href="mailto:pinch@ayte.io?subject=Hey%20there,%20Ayte%20folks!" class="mail-link">pinch@ayte.io</a>
            </div>
        </div>
    </main>
    </body>
</html>
